# Pandas
- Pandas is an open souce library used for data analysis and preperation
- Has built-in visualization features
- Can be used with a wide variety of data sources

## In this notebook:
- Series intro
- How to make series
- Series operations

## Series
- Series are similar to NumPy arrays
- The point of difference between the two is that series can have `axis labels`.
- To understand this, earlier in NumPy the columns and rows were referenced in a matrix using [0,1,2,3] etc but now in pandas, we can assign names to the columns and rows

In [1]:
import numpy as np

In [2]:
import pandas as pd

### Creating series
- One can convert a NumPy array, list, dict, etc into a Python series.
- Python Series have mainly two parameters -> data, labels
- Here data can be list, NumPy array, etc and labels are the labels to be assigned to them

In [3]:
data = [1,2,3]
labels = ['a','b','c']
pd.Series(data) #Only data argument passed and hence the existing indexes are used as it is

0    1
1    2
2    3
dtype: int64

#### To assign custom labels, we have to pass the second argument also

In [4]:
pd.Series(data,labels)

a    1
b    2
c    3
dtype: int64

#### Same can be achieved using NumPy arrays instead of list

In [5]:
arr = np.array(data) # Create array from list
pd.Series(arr,labels) # Create series using np array instead of list

a    1
b    2
c    3
dtype: int64

## Series operations
Eg. Let us create two series -> ser1 and ser2 and try to add them and see what happens

In [6]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [7]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [8]:
ser3 = ser1 + ser2
ser3

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

#### Note here that the values for which there were no match in other Series, are represented with NaN.
#### Also note that NumPy and Pandas automatically convert all values to floats in order to prevent data loss when dividing (Python2)